base:
    seed: &seed 0
model:
    type: Llama
    path: /home/yejinyu/llama2_7b/Llama-2-7b-ms
    torch_dtype: auto

skip_layers: lm_head
wbit: 3
w-groupsize: 128
abit: 16

calib:
    name: c4
    download: True
    n_samples: 128
    path: calib data path
    bs: 1
    seq_len: 2048
    preproc: c4_gptq
    seed: *seed
eval:
    eval_pos: [pretrain, fake_quant]
    name: [wikitext2,c4]
    download: True
    path: eval data path
    seq_len: 2048
    # For 7B / 13B model eval, bs can be set to "1", and inference_per_block can be set to "False".
    # For 70B model eval, bs can be set to "20", and inference_per_block can be set to "True".
    bs: 1
    inference_per_block: False
quant:
    method: GPTQ
    weight:
        bit: 2
        symmetric: False
        granularity: per_group
        group_size: 128
        # calib_algo: mse
        # mse_b_num: 2
    special:
        actorder: True
        static_groups: False
        percdamp: 0.01
        blocksize: 128
        true_sequential: True
    quant_out: True
save:
    save_fake: True
    save_trans: True
    save_path: /home/yejinyu/llama2_7b/
