
base_model:
    type: Llama
    path: /home/yejinyu/llama2_7b/output/llama27b_miom_2
    torch_dtype: auto
    tokenizer_mode: fast
quant:
    method: gptq
    skip_layers: [ lm_head ]
    seqlen: 2048
    device: cuda
    weight:
      wbit: 3
      abit: 16
      offload: cpu
      block_sequential: False
      layer_sequential: False
      w_qtype: per_group
      groupsize: 128
      blocksize: 128
      percdamp: 0.01
      actorder: True
    special:
      actorder: True
      static_groups: False
      percdamp: 0.01
      blocksize: 128
      true_sequential: True
    data:
      name: c4
      nsamples: 1
      seqlen: 2048
      download: True
      path: eval data path
      batch_size: 1
      seed: 42


eval:
#    eval_pos: [pretrain, fake_quant]
    tasks: [CommonsenseReasoning]
    datasets: [arc_easy]
    download: True
    path: eval data path
    seq_len: 2048
    group_size: 128
    batch_size: 32
    num_fewshot: 0
    nsamples: all
    device: cuda
    seqlen: 2048
    # For 7B / 13B model eval, bs can be set to "1", and inference_per_block can be set to "False".
    # For 70B model eval, bs can be set to "20", and inference_per_block can be set to "True".
    bs: 1
save: /home/yejinyu/llama2_7b/output/llama27b_miom_2